services:
  - type: web
    name: bond-market-prediction
    env: static
    buildCommand: cd my-react-app && npm install && npm run build
    staticPublishPath: my-react-app/dist
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=0, must-revalidate
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
